@tailwind base;

@tailwind components;

@tailwind utilities;

[x-cloak] {
    display: none;
}

svg {
    width: 100%;
}
.wave {
    animation: wave 3s linear;
    animation-iteration-count: infinite;
    fill: #0069ff;
}

#wave2 {
    animation-duration: 5s;
    animation-direction: reverse;
    opacity: 0.6;
}
#wave3 {
    animation-duration: 7s;
    opacity: 0.3;
}
@keyframes drop {
    0% {
        transform: translateY(80%);
        opacity: 0.6;
    }
    80% {
        transform: translateY(80%);
        opacity: 0.6;
    }
    90% {
        transform: translateY(10%);
        opacity: 0.6;
    }
    100% {
        transform: translateY(0%) scale(1.5);
        stroke-width: 0.2;
        opacity: 0;
    }
}
@keyframes wave {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(-100%);
    }
}

.form-control {
    @apply form-input w-full;
}

/****** Form Input CLASSES **********/

.form-input,
.form-textarea,
.form-select {
    @apply appearance-none bg-white border border-gray-400 rounded-md py-2 px-3 text-base leading-normal transition duration-150 ease-in-out focus:outline-none focus:ring focus:ring-opacity-30 focus:ring-wave-500 focus:border-wave-400;
}

.form-select {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' fill='none'%3E%3Cpath d='M7 7l3-3 3 3m0 6l-3 3-3-3' stroke='%239fa6b2' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    background-position: right 0.5rem center;
    background-size: 1.5em 1.5em;
    padding: 0.5rem 2.5rem 0.5rem 0.75rem;
    background-repeat: no-repeat;
}
.active-dash-nav-item{
    @apply border-[#570AFF] border-l-4 p-4;
}
.active-dash-nav-item a{
    @apply text-gray-900  dark:text-white hover:text-white
}
.active-dash-nav-item path{
    fill: white;
}
.dash-nav-item{
    @apply p-4 p-4 hover:bg-white hover:scale-110 transition-all ease-in-out
}
.dash-nav-item a{
    @apply dark:text-gray-400
}
.dash-nav-item path{
    fill: #79798E;
}
.loading-card{
    @apply relative items-center block contrast-50 cursor-not-allowed;
}
.isDisabled {
    color: currentColor;
    cursor: not-allowed;
    opacity: 0.5;
    text-decoration: none;
    pointer-events: none;
}

.strategy-hun-nav .active{
    @apply text-white;
}
.strategy-hun-nav .active svg{
    @apply bg-wave-500;
}
//step progress bar by css
  
  .progressbar {
    counter-reset: step;
    @apply space-y-6;
  }
  .progressbar li {
    list-style: none;
    //display: inline-block;
    //width: 30.33%;
    position: relative;
    text-align: center;
    cursor: pointer;
    @apply text-gray-400  sm:inline-block;
    padding-right: 20px;
    padding-left: 20px;
  }
  .progressbar li:before {
    content: counter(step);
    counter-increment: step;
    width: 30px;
    height: 30px;
    line-height : 30px;
    border: 1px solid gray;
    border-radius: 10%;
    display: block;
    text-align: center;
    margin: 0 auto 10px auto;
    //color: #fff;
    @apply text-gray-400;
    background: #07072D;
  }
  .progressbar li:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    //background-color: gray;
    @apply sm:bg-gray-500;
    top: 15px;
    left: -50%;
    z-index : -1;
  }
  .progressbar li:first-child:after {
    content: none;
  }
  .progressbar li.active {
    color: #ffffff;
  }
  .progressbar li.active:before {
    //border-color: green;
    @apply border-wave-500 bg-wave-500 text-white;
  } 
  .progressbar li.active:after {
    @apply border-wave-500 sm:bg-wave-500;
  }
  .progressbar li.active + li:after {
    //background-color: green;
    //@apply bg-wave-500;
  }

    @layer utilities{
        .hover-type{
            @apply overflow-hidden border-wave-500;
        }
        .hover-type .icon{
            @apply top-2;
        }
        .hover-type .description{
            @apply block;
        }
        .hover-type .comming-soon{
            @apply hidden;
        }
    }

    .disable-type .comming-soon{
        @apply block;
    }
  